* {
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
}

body {
    background-color: black;
}

nav {
    position: fixed;
    width: 100%;
    top: 0;
    height: 69px;
    border-bottom: 1px solid seashell;
    background-color: black;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 69px;
    margin: 0 5px;
    height: 67px;
}

nav ul li a {
    font-size: 25px;
    text-transform: uppercase;
    color: seashell;
}

nav img {
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    height: 50px;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("./images/img-mission-background.png");
    height: 700px;
    width: 1200px;
    margin: 70px auto;
}

#missionBar {
    text-align: center;
    background-color: black;
    width: 1200px;
    padding: 10px 10px;
    line-height: 25px;
}

#missionBar h2 {
    font-size: 30px;
    margin: 10px;
}

#missionBar h4 {
    margin: 10px;
}

#featured h2 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 35px;
}

#featured h4 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
}

.featured-pics {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
}

.featured-pic {
    display: inline-flex;
    flex-direction: column;
    margin: 0 10px 10px 10px;
}

.featured-pic img {
    height: 200px;
    width: 300px;
}

.featured-pic h4 {
    margin-top: 10px;
}

#locations {
    background-image: url("./images/img-locations-background.png");
    height: 500px;
    width: 1200px;
    overflow: auto;
    margin-left: auto;
    margin-right: auto;
}

#l-title h2 {
    margin-top: 80px;
    margin-bottom: 15px;
    text-align: center;
    font-size: 35px;
}

#container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    width: 980px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;

}

.location {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 30px;
    line-height: 40px;
    background-color: black;
    flex: 1 1 0;
    text-align: center;
}

#contact {
    text-align: center;
    margin-top: 20px;
}

#contact h2 {
    font-size: 40px;
    margin-bottom: 10px;
}

footer {
    text-align: left;
    margin-left: 20px;
}